<a href="https://colab.research.google.com/github/jang262/jang262.github.io/blob/master/2%EC%A3%BC%EC%B0%A82%EA%B0%95_%EA%B8%B0%EC%B4%88_%ED%8C%8C%EC%9D%B4%EC%8D%AC%5B2%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#기초 파이썬[2]  
<br>

###사칙연산  

파이썬이란 언어를 사용한다면 우리가 알고있는 수학기호를 사용하여 숫자타입의 사칙연산을 실행할 수 가 있다.  
+, -, `*`(곱셈), `**`(제곱), /(나누기), //(나눈 몫), %(나눈 나머지 값)

예를 들어 여기다가 2+3을 작성하고, shift + Enter를 하게 되면  
코드가 즉시 실행되며 자동으로 다음 코드를 작성할 수 있게 된다.

In [0]:
2 + 3

5

다음 곱셈 연산자는`*`(별표)를 사용한다.  
이때 3`*`4를 입력하고 Ctrl + Enter을 누르게 되면, 다음 코드란 생성 없이 이 코드만 실행되게 된다.

In [0]:
3 * 4

12

제곱 또한 비슷한 방법으로 별표 두개를 넣어주면 된다.

In [0]:
2**3

8

다음 나눗셈 연산자는 /와 // 이렇게 두가지가 존재한다.

차이점은 /는 일반적인 나눗셈으로 소수점까지 반환되지만,  
//는 나눗셈의 몫을 정수로 반환한다.  
%는 나눗셈의 나머지를 출력한다.

In [0]:
13/2

6.5

In [0]:
13//2

6

In [0]:
13%2

1

###복소수(complex number, 허수)  

다음으로 파이썬에는 복소수를 표현하는 방법이 있다.  
수학에서는 보통 3+4i처럼 허수를 i로 표현하는데,  
파이썬에서는 j라는 값을 사용하여 표현한다.

In [0]:
1.2 + 3.4j + 2.3 + 4.5j

(3.5+7.9j)

###데이터 타입(data type)  

또한 파이썬에는 데이터를 합리적으로 처리하기 위한,  
주요 데이터 타입 개념이 존재한다.  
자주 사용되는 4가지를 먼저 살펴보면,  
<br>
첫번째, 정수는 integer의 약자인 int,  
두번째, 소수는 float,  
세번째, 복소수 complex,  
네번째, 문자열 string의 약자인 str  

이렇게 각각의 데이터마다 타입이 존재하며,  
type()이란 함수를 사용하면 각 데이터의 타입을 확인할 수 있다.

In [0]:
type(3)

int

In [0]:
type(3.5)

float

In [0]:
type(2 + 3j)

complex

In [0]:
type('abc')

str

###변수  

이러한 연산들을 단순 연산에만 그치지 않고,  
저장하며, 저장된 값들을 통해 다양하게 활용할 수 있어야 한다.  

이러한 변수들을 저장하기 위해 무엇인가가 필요한데,  
등호(=) 기호를 사용하여 오른쪽에 있는 데이터들을 왼쪽 변수로 저장할 수 있다.  
변수의 이름은 우리가 원하는 이름으로 지어줄 수 있다.  
<br>

####변수명을 정할때 주의해야 할점
1. 변수의 첫 문자는 알파벳이나 한글 같은 문자 혹은 밑줄만 가능.
2. if나 for 등의 예약어는 사용 불가  
   (예약어 모음은 코드 입력란에 help('keywords')라고 입력하면 확인 가능)

코드란에 `#`(샾)을 넣으면 주석으로 인식

In [0]:
x = 10 #이것은 '주석'입니다. 주석은 코드로 인식되지 않습니다.
print(x)

10

In [0]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               def                 if                  raise
None                del                 import              return
True                elif                in                  try
and                 else                is                  while
as                  except              lambda              with
assert              finally             nonlocal            yield
break               for                 not
class               from                or
continue            global              pass

###리스트(list)  

리스트 : 물품이나 사람의 이름 따위를 일정한 순서로 적어 놓은 것.
리스트는 단어 뜻 그대로 다수의 값들을 저장하고 있는 존재이며,  
저장된 값들을 한번에 처리할 수가 있다.  

리스트에 저장된 값들은 각각 '요소'라고 부른다.  
리스트의 요소 각각에는 위치가 지정되어 있다.  
해당 요소를 사용하기 위해서는 이러한 위치를 통해 접근해야 한다.  

`a[0]`여기에서 `[]`안에 숫자를 인덱스라고 부른다.  
파이썬에서의 첫번째는 1이 아닌 0부터 시작한다.  
음수인 인덱스 값은 앞이 아닌 뒤에서 부터 시작한다.

In [0]:
a = [3,1,4,2,5]
len(a)

5

In [0]:
print(a[0],a[3],a[-1])

3 2 5

리스트의 장점
리스트 안에 또 다시 리스트, 문자열, 소수, 정수 등  
저장할 수 있는 데이터 타입과 깊이에 제약이 없다는 것  
(이후 다차원데이터가 등장함에 따라 리스트의 강력함이 나타나게 된다.)

In [0]:
b = [1, 2.0, 3 + 4j, 'abc',[-1,1]]
print(b)

[1, 2.0, (3+4j), 'abc', [-1, 1]]

콜론을 사용하여 범위를 지정하면 여러개를 한꺼번에 출력할 수 있다.  
단, 이때 콜론 이전 지정한 요소는 포함되지만, 콜론 다음에 지정된 요소는 포함되지 않기에  
`~이상 ~미만`이라는 식으로 알아두면 이후에 편리하게 사용할 수 있을 꺼다.  
`a[1:3]`은 a의 요소 중 1번인덱스 이상 3번인덱스 미만이다.  

콜론 이전 값이 없는 경우는  
처음부터 콜론 이후값 전까지  
콜론 이후 값이 없는 경우  
콜론 이전 값 부터 끝까지 이다.

In [0]:
print(a[1:3], a[2:], a[:3], a[:-3])

[1, 4] [4, 2, 5] [3, 1, 4] [3, 1]

###튜플  

다음으로 튜플은 리스트와 비슷하다.  
튜플은 대괄호가 아닌 소괄호를 사용한다.  
데아터 타입도 튜플(tuple)이라 표기된다.

In [0]:
tuple_data = (1,2,3,4,5)
print(tuple_data)

(1, 2, 3, 4, 5)

In [0]:
type(tuple_data)

tuple

우리가 앞서 살펴본 리스트는 언제든지 수정이 가능했다.  
하지만, 튜플은 한번 만든 요소에 대하여 추가 변경 삭제가 불가능하다.  
즉 리스트와 튜플의 차이는 요소를 다루는 점에서 살펴볼 수 있다.  
또한 튜플은 데이터가 바뀌지 않기에 리스트보다 처리속도가 약간 빠르다.

In [0]:
a = [1,2,3,4,5]
a[2] = 10
print(a[2])

10

In [0]:
tuple_data[2] = 10

TypeError: ignored

###조건문과 반복문(conditional and loop)  

####조건문  
코드의 시작 지점부터 끝 지점까지 순서대로 코드가 실행된다.  
하지만 조건문이란 개념을 통해 저건을 지정하게 되면  
코드 실행에 대한 순서를 조정할 수 있게 된다.  
예를 들어 어떠한 조건일 때만 실행하고자 하는 경우,  
if문을 사용하면 된다.

In [0]:
a=3
if a ==3 :
    print("a는 3입니다.")
else:
    print("a는 3이 아닙니다.")

a는 3입니다.

####반복문  

반복문은 이후 머신러닝 혹은 딥러닝에서 무척이나 중요한 역할을 하고 있다.  
예를들어  
우리가 지정한 횟수만큼 반복하여 단순 퍼셉트론의 가중치 학습을 진행하는 경우  
하나하나 코드를 작성하는 것보단  
반복문을 적절하게 사용한다면 간단하게 진행할 수 있다.  

#####for문  

for문은 조건에 포함되는 값 개수만큼 블록을 반복 실행한다.  
range함수는 시작 숫자부터 끝 숫자 전까지 숫자 간격에 따른 연속 정수 값을 저장하는 함수.

In [0]:
for i in range(3): # range(시작숫자,끝숫자,숫자간격)
    print(i)

0
1
2

이번 for문은 리스트 안 요소와 그에 해당하는 인덱스를 함께 출력하는 enumerate()를사용한 예제이다.  
이렇게 되면 이 함수에 의해 리스트의 해당 인덱스는 i로,  
리스트 요소는 e로 할당되게 되며, 최종 출력값은  
for문의 조건에 포함된 값의 개수만큼 이렇게 총 3번에 걸쳐 출력한다.

In [0]:
for i, e in enumerate([5,3,7]):
    print(i,":",e)

0 : 5
1 : 3
2 : 7

for문처럼 이렇게 조건값을 지정한 만큼 반복하는 것이 아닌,  
조건을 만족하지 않을 때까지 무한으로 반복 실행하는 while문이 있다.  

이 방법 또한 머신러닝에서 지정한 목적 함수값에 도달할 때까지  연속해서 학습을 진행하고 싶은 경우 사용된다.

In [0]:
i = 0
while i < 4:
    print(i)
    i += 1

0
1
2
3